/* HEADER */

.header-container {
    background-color: #cfa991c4;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    min-width: 100%;

    .header-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #646464;
        font-size: 1em;
        text-align: center;
        flex-grow: 1;
        margin: 2px;
        padding: 8px;
    }
}



