@use "variables" as *; 

.header-container {
    background-color: $header-color;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    min-width: 100%;

    .header-text {
        font-family: $secundary-font-family;
        color: $primary-font-color;
        font-size: 1em;
        text-align: center;
        flex-grow: 1;
        margin: 2px;
        padding: 8px;
    }
}



