@use "variables" as *;
/* MENÚ DE NAVEGACIÓN */

.logo-image{
  width: 76px;
  height: 76px;
}

.navbar{
    #navbarSupportedContent {
        background-color: $primary-color;
    }

    .navbar .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;

    }

    .nav-item .nav-link {
        color: $primary-font-color;
        font-family: $primary-font-family;
        font-size: 16px;
        margin: 5px;
        transition: 0.2s ease;
    }

    .nav-item :hover {
        color: $hover-btn-color;
        font-weight: bold;
        transform: scale(1.1);
    }
}
