$primary-color: #f9fff5;
$header-color: #cfa991c4;
$hover-btn-color: #edc3a3;
$primary-font-color: #645c57;
$primary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$secundary-font-family: Verdana, Geneva, Tahoma, sans-serif; 
$external-font-family: "Dancing Script", cursive;